<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quiet_Attic_Films.Properties.Settings.QuietAttic_FilmsConnectionString"
            connectionString="Data Source=ISHAN_SELLAHEWA;Initial Catalog=&quot;QuietAttic Films&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>